html { 
font-family: 'Bitter', serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
width: 1440px;
height: 4574px;
flex-shrink: 0;
}

.quotes, .list {
color: #000;
font-family: Bitter;
font-size: 34px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.main-header, .mid-header, .block-bio, .block-art, .lock-art-description, .chapter, .designers-name, .Block-testimonials, .references {
color: #000;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;   
}

.robotomed {
color: #0D0D0D;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}