html { 
font-family: 'Bitter', serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
flex-shrink: 0;
}
body { margin: 0px; padding: 0;}
.container {
    display: flex;
    max-width: 100%;
    height: 135px;
    outline: 1px solid  #FFF;
    box-sizing: border-box;
}

.logo {
    padding: 0;
    margin: 0;
    vertical-align: center; 
    color: #000;
    font-family: "Playfair Display";
    font-size: 86px;
    font-style: normal;
    font-weight: 600;
}
.nav {
    display: inline-block;
    width: 1195px;
    height:28px;
    padding: 0;
    margin: 50px 0 50px 202px;
    position: static;
    color: #000;
    text-align: right;
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;  
    vertical-align: center;           
    }
.button { 
    width: 109px;
    height:28px;
    padding: 0;
    margin: 20px 0 20px 20px;  
    color: #000;
    text-decoration: none;
    }

.hero-section {
    display: border-box;
    width: 100%;
    height:630px;
    padding: 0;
    margin: 50px 0 50px 20px;
    background: url("img\background.jpg");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    }
.containermod { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 630px;
    margin: 0 auto;
    background-color: DDD0C7;
    background-image: url(/img/inside-weather.jpg);
    }

.containermodst { 
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #FFF;
width: 690px;
height: 360px;
Top: 271px
    }

.quotes, .list {
color: #000;
font-family: Bitter;
font-size: 34px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.main-header, .mid-header, .block-bio, .block-art, .lock-art-description, .chapter, .designers-name, .Block-testimonials, {
color: #000;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;   
}

.robotomed {
color: #0D0D0D;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

ul {
    list-style: none;
  }

.nav-bio {
    display: flex;
    justify-content: center;
    background-color: #FFF;
    max-width: 90%;
    margin-top: 10%;
    margin-right: 5%;
}

.block-bio {
padding: 90px 0 0 0;
width: 50px;
color: #000;
font-family: "Roboto-Bold";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.bio-1 {
    max-width: 571px;
    justify-content: end;
}

.bio-2 {
display: block;
transform: rotate(-90deg);    
}

.bio-3 {
    display: flex;
    max-width: 455px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
     }

.katya {
    padding: 90px 0 0 0;
    width: 50px;
    height: auto;
    font-family: 'Playfair Display', serif;
    color: #000;
    font-size: 86px;
    font-style: medium;
    font-weight: 500;
    text-align: left;
    align-content: center;
}

.block-art{
    display: inline-block;
    height: auto;
    color: #000;
    text-align: left;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 5px;
    }    

.block-art-description {
    display: flex;
    padding-left: 0;
    flex-wrap: wrap;  
}

.bio-list:nth-of-type(n+2):before {
    content: "/";
    width: 10px;
    height: 10px;
 }

.quotes-bio {
    display: block;
    width: 20px;
    height: 6px;
    background-color: #000;
    margin-top: 18px;
}
blockquote {margin: 0;}
.blockquote {
    display: flex;
    max-width: 455px;
    height: auto;
    margin: 0;
   }

.quote {
    display: flex;
    color: #000;
    text-align: left;
    font-family: "Bitter";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 18px;
    overflow: hidden;
}

.content {
    display: grid;
    grid-template-columns: 20% 20% 10% 30%;
    grid-template-rows: repeat(3,1fr); 
    background-color: aqua;
    max-width: 100vp;
    max-height: 760px;
    column-gap: 20px;
   
}
.testimonials-web {
    grid-column: 1/2;
    grid-row: 1/2;
    transform: rotate(-90deg);
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    
}
.testimonials-brand {
    grid-column: 1/2;
    grid-row: 2/3;
    transform: rotate(-90deg);
    color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;


}
.testimonials-creat {
    grid-column: 1/2;
    grid-row: 3/4;
    transform: rotate(-90deg);
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
   
}

.test-image {
    grid-column: 2/3;
    grid-row: 1/4;  
}
